.app-view {
	transition: width ease .3s 0s ;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	flex: 1;
	transition: flex 0.3s ease, opacity 0.3s ease; /* 动画过渡 */
	background-image: url("../../../../assets/images/war3_stone_bg_landscape_4k.png");
	background-size: cover;
	padding: 8px;
	align-content: flex-start;
	
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255, 255, 255, 0.1); /* 越大越亮 */
		z-index: 1;
		pointer-events: none;
	}
	;
	&:global(.game-running){
		width: 100%;
		flex: 1 !important; /* 100%宽度 */
		opacity: 1;
	}
}
